@import "../../node_modules/bootstrap/dist/css/bootstrap.css"

html
body
    margin 0
    padding 0
    width 100%
    height 100%

body > div
    position absolute
    z-index 10
    right 10px
    top 10px
    -webkit-box-sizing content-box
    -moz-box-sizing content-box
    box-sizing content-box

.navbar-nav
    li
        margin-left 20px
    select
        height 30px
        margin 10px

canvas, svg
    position absolute
    margin-left 20px

canvas
    z-index 5

svg
    z-index 1

    .land
        fill lightgrey

    .county-boundary
        fill none
        stroke #fff
        stroke-width .5px

    .state-boundary
      fill none
      stroke #fff

.dg.a
    margin 70px 20px 0 0

select[disabled]
    color grey
