@import "../../node_modules/bootstrap/dist/css/bootstrap.css"
@import "./colorbrewer"

html
body
    margin 0
    padding 0
    width 100%
    height 100%

.navbar-nav
    li
        margin-left 10px
    select
        height 30px
        margin 10px

.dg
    z-index 6 !important

.dg.main.a
    margin 0
    select
        color black

select[disabled]
    color grey

canvas, svg
    position absolute
    margin-left 20px

canvas
    z-index 1

table
    border 1px solid #e7e7e7
    background #f8f8f8
    color black
    font-size 11px
    margin auto
    position relative
    z-index 5

    th
    td
        padding 10px

svg
    z-index 2

    .county-boundary
    .state-boundary
        fill none
        stroke #fff
        stroke-linejoin round
        stroke-linecap round

    .county-boundary
        stroke-width .5px

    .state-boundary
      fill none
      stroke #fff

    .bubble
        fill-opacity .5
        stroke #fff
        stroke-width .5px

    .rect
        fill lightgrey
        stroke #000
        stroke-width 1.5px

    .legend circle
        fill none
        stroke #ccc

    .legend text
        fill #777
        font 10px sans-serif
        text-anchor middle

    .axis
        font-size 12px
        font-family Arial, Helvetica, sans-serif

    .axis path
    .axis line
        fill none
        stroke #000
        shape-rendering crispEdges

    .tick
        fill #000

    .tick-active
    .tick:active
    .tick:focus
        fill #34a853

    .tick:hover
        cursor pointer
        fill #4285f4

svg.default .country
    fill lightgrey

svg.hideMap .country
svg.hideMap #states
svg.hideMap #counties
    visibility hidden
