doctype html
html
    head
        title Particles
        link(href="dist/main.css" rel="stylesheet" type="text/css")
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(href="#") Particles
                ul.nav.navbar-nav
                    li
                        | X
                        select.selectpicker.feature.feature-x
                    li
                        | Y
                        select.selectpicker.feature.feature-y
                    li
                        | Diagram
                        select.selectpicker.visualization
                            option(value="overview") Overview
                            option(value="barChart" selected) Bar chart
                            option(value="scatterPlot") Scatter plot
                            option(value="dot") Dot map
                            option(value="psm") Proportional symbol map
                            option(value="choropleth") Choropleth map
                            option(value="cartogram") Cartogram
                    li
                        | Transition
                        select.selectpicker.transition
                            option(value="none" selected) None
                            option(value="linear") Linear animation
                            option(value="maps") Maps
                    li
                        | Transition layout
                        select.selectpicker.transition-layout
                            option(value="inPlace" selected) In-place
                            option(value="juxtaposition") Juxtaposition
                            option(value="stacked") Stacked

    script(src="dist/main.js")
