doctype html
html
    head
        title Particles
        link(href="dist/main.css" rel="stylesheet" type="text/css")
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='#') Particles
                ul.nav.navbar-nav
                    li
                        | X
                        select.selectpicker.feature.feature-x
                    li
                        | Y
                        select.selectpicker.feature.feature-y
                    li
                        | Diagram
                        select.selectpicker.visualization
                            option(value='dot') Dot map
                            option(value='psm') Proportional symbol map
                            option(value='choropleth') Choropleth map
                            option(value='barChart') Bar chart
                            option(value='scatterPlot') Scatter plot
                    li
                        | Transition
                        select.selectpicker.transition
                            option None

    script(src="//d3js.org/d3.v3.min.js")
    script(src="//d3js.org/topojson.v1.min.js")
    script(src="dist/main.js")
