doctype html
html
    head
        title Particles
        link(href="dist/main.css" rel="stylesheet" type="text/css")
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(href="#") Particles
                ul.nav.navbar-nav
                    //- li
                    //-     | X
                    //-     select.selectpicker.feature.feature-x
                    //- li
                    //-     | Y
                    //-     select.selectpicker.feature.feature-y
                    li
                        | Diagram
                        select.selectpicker.visualization
                            //- option(value="overview") Overview
                            //- option(value="barChart") Bar chart
                            //- option(value="scatterPlot") Scatter plot
                            option(value="dot") Dot map
                            option(value="psm" selected) Proportional symbol map
                            option(value="choropleth") Choropleth map
                            option(value="cartogram") Cartogram
                    //- br!
                    li
                        | Transition
                        select.selectpicker.transition
                            option(value="none") None
                            option(value="linear" selected) Linear animation
                    //- li
                    //-     | Transition layout
                    //-     select.selectpicker.transition-layout
                    //-         option(value="inPlace" selected) In-place
                    //-         option(value="juxtaposition") Juxtaposition
                    //-         option(value="stacked" ) Stacked

                    //- li
                    //-     | Sort
                    //-     select.selectpicker.sort-type
                    //-         option(value="automatically" selected) automatically
                    //-         option(value="manually") manually
                    //-     | by
                    //-     select.selectpicker.feature.sort-by(disabled="true")

    script(src="dist/main.js")
