doctype html
html
    head
        title Particles
        link(href="dist/main.css" rel="stylesheet" type="text/css")
    body

        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='#') Particles
                ul.nav.navbar-nav
                    li
                        | Diagram
                        select.selectpicker.visualization
                            option(value='dot') Dot map
                            option(value='psm') Proportional symbol map
                            option(value='choropleth') Choropleth map
    script(src="//d3js.org/d3.v3.min.js")
    script(src="//d3js.org/topojson.v1.min.js")
    script(src="dist/main.js")
